.topcontainer {
  height: 50px;
  width: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  position:absolute;
  display: block;
}

.topcontainer h{
  font-size: 30px;
  font-family: Open Sans, Helvetica, sans-serif;
  color: white;
  opacity: 0.8;
  display: block;
  text-align: center;
  margin-top: 1%;
  }

.wrapper {
  background: url('./Events.jpg') no-repeat bottom center;
  background-size: cover;
  position: relative;
  height: 200px;
  width: auto;
  padding-top: 10%;
}

.target{
  font-size: 13.5vw;
  font-weight: bold;
  font-family: Open Sans, Helvetica, sans-serif;
  text-align: center;
  color: rgba(255,255,255,0.6);
  margin: -50px 2px;
}

div p {
  display: inline;
}

hr{
  border: 1px solid #5c5c8a;
}

button{
    float:right;
    font-family: Open Sans, Helvetica, sans-serif;
    color: #ccc;
    font-size: 100%;
    border:2px solid #ccc;
    background:0;
    cursor: pointer;
    transition: all .3s;
    border-radius: 10px 10px;
    margin: -6px 50px;
    height: 30px;
    width: 90px;
}
button:hover{
    background:#78788c;
    color:#fff;
  }

h1,h2,h3{
  font-size: 30px;
  font-weight: bold;
  color: #c8c8c8;
}

footer {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.5vw;
  display: block;
  position: relative;
}
nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    background-color: #c8c8c8;
    width: 100%;
    padding-bottom: 30px;
}
.box4 a {
  color: black;
  list-style-type:none;
  text-decoration: none;
}

.box4 li {
  display: inline;
  width: 10px;
  padding-left: 13%;

}
pre {
  display: block;
  margin-top: 3%;
  margin-left: 40%;
  position: absolute;
  z-index: 111111;
}
